{% extends "base.html" %}
{%block title%}Posts{%endblock%}
{%block content%}
<br/>
<h1>Posts</h1>
<br/>
<div class="container text-center">
    <div class="row">
      
        {% for post in object_list %}

        <div class="col-sm-3 mb-3 mb-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href='{% url 'article-detail' post.pk %}'>{{post.title}}</a></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><a href='{%url 'category' post.category %}'>{{post.category}}</a></h6>
              <p class="card-text">{{post.author}} - {{post.post_date }}</p>
              <p class="card-text">{{post.snippet}}</p>
              {%if user.is_authenticated%}
            {% if user.id == post.author.id%}
              <a href='{% url 'update_post' post.pk %}'>Edit</a>
              <a href='{% url 'delete_post' post.pk %}'>Delete</a>
              {%endif%}
            {%endif%}
            </div>
          </div>
        </div>
        
          {% endfor %}
    </div>
  </div>
  


<!-- {% for post in object_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><a href='{% url 'article-detail' post.pk %}'>{{post.title}}</a></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><a href='{%url 'category' post.category %}'>{{post.category}}</a></h6>
      <p class="card-text">{{post.author}} - {{post.post_date }}</p>
      <p class="card-text">{{post.snippet}}</p>
      {%if user.is_authenticated%}
    {% if user.id == post.author.id%}
      <a href='{% url 'update_post' post.pk %}'>Edit</a>
      <a href='{% url 'delete_post' post.pk %}'>Delete</a>
      {%endif%}
    {%endif%}
    </div>
  </div>
  {% endfor %}--> 

  
<!-- {% for post in object_list %}
<li><a href='{% url 'article-detail' post.pk %}'>{{post.title}}</a>-
    <a href='{%url 'category' post.category %}'>{{post.category}}</a> 
    - {{post.author}} - {{post.post_date }}
    {%if user.is_authenticated%}
    {% if user.id == post.author.id%}
    <small><a href='{% url 'update_post' post.pk %}'>Edit</a> 
    <a href='{% url 'delete_post' post.pk %}'>Delete</a>
    {%endif%}
    {%endif%}
    </small><br/>
    {{post.snippet}}
    </li>
{% endfor %} -->

{% endblock %}